.how-it-works {
    background-color:white;
    padding: 60px 20px;
    text-align: center;
  }
  
  .how-it-works h2 {
    font-size: 2.5rem;
    /* color: #04c2c9; */
    margin-bottom: 40px;
    margin-top: 25px;
  }
  
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .step {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .step:hover {
    transform: translateY(-5px);
  }
  
  .step h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .step p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
  }
  
  .icon {
    color: #00d4f7;
  }
  